body {
    background: url("./Resources/wallpaper.jpg");
    font-family: Arial, sans-serif;
    color: #FFF;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-top: 150px;
}
.linux,
.windows {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.linux {
    align-items: start;
    justify-content: start;
    
}

.windows {
    align-items: start;
}

.linux-button {
    background-color: #44CC44;
    float: left;
    padding: 20px;
    border-radius: 5px;
    border: none;
    width: 300px;
    cursor: pointer;
    font-size: large;
}

.windows-button {
    background-color: #0074CC;
    float: right;
    padding: 20px;
    border-radius: 5px;
    border: none;
    width: 300px;
    cursor: pointer;
    font-size: large;
}

.images {
    width: 110px;
    height: 110px;
    padding: 20px 50px 0px 50px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linux-script {
    float: left;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ubuntu{
    background-color: #f88b24;
}

.arch {
    background-color: #8bcdff;
}

.fedora {
    background-color: #55a2dd;
}

.windows-script {
    float: left;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #0074CC;
    color: #FFF;
}

.file-span {
    margin-left: 10px;
}

.linux-instructions {
    display: flex;
    flex-direction: column;
    border: 1px solid #b3b3b3;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(120,150,000, 0.3);
}

.windows-instructions {
    display: flex;
    flex-direction: column;
    border: 1px solid #b3b3b3;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(120,150,200, 0.3);
    
}